<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Account Activation</title>
</head>
<body>
    <p>You're receiving this email because you need to finish activation process.</p>

    <p style="margin-bottom:100px"><a style="display: inline-block; padding: 10px 20px; background-color: red; color: white; text-decoration: none;" href="{{ activation_url }}">Activate Account</a></p>

    <i>If you face difficulties on account activation kindly contact us on: therealmessmiles@gmail.com</i>
</body>
</html>
